<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Yaah-Mtg Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">src</directory>
  </whitelist>
</filter>
</phpunit>
